<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314468968853-cevhf3a9ors33pb5o7bso0ia4albtqfi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314468968853-cevhf3a9ors33pb5o7bso0ia4albtqfi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>314468968853-j492pkrfu385bde1nuhkkbnne7eg4el7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbwpjxgtBhZVZpL6JJSTCAHIzjy-mZVkE</string>
	<key>GCM_SENDER_ID</key>
	<string>314468968853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Khalis.Myriad</string>
	<key>PROJECT_ID</key>
	<string>browsed-c33cd</string>
	<key>STORAGE_BUCKET</key>
	<string>browsed-c33cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314468968853:ios:ac9131f0b0d8192b366e9c</string>
	<key>DATABASE_URL</key>
	<string>https://browsed-c33cd.firebaseio.com</string>
</dict>
</plist>